<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather Webapp</title>
    <link rel="stylesheet" href="ejs-css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <h1>The weather in <%=name%> is <%=weatherDescription%></h1>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 ">
              <img src="images/temp.png" alt="temp" class="mini" >
              <p>Temperature: <%=temp%> 째 C</p>
              <p>Max Temp: <%=tmax%> 째 C</p>
              <p>Min Temp: <%=tmin%>째 C</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                  <img src="<%=imageURL%>" alt="description" class="mini" >
                  <p><%=main%></p>
                  <p>Feels Like: <%=feellike%> 째 C</p>
                  <p>Wind Speed: <%=windspeed%></p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                      <img src="images/humidity.png" alt="humidity" class="minis" >
                      <p>Humidity: <%=humidity%></p>
                      <p>Pressure: <%=pressure%></p>
                    </div>
          </div>
          <h2>Click the button below to see another city weather.</h2><br>
          <a href="/"><button type="button" class="btn btn-dark btn-lg" name="button">Check More!</button></a>
        </div>
  </body>
</html>
